@model AllClubsViewModel;

@{
    ViewBag.Title = "All Clubs";
}
@if (@Model.Clubs.Count() == 0)
{
    <div class="row">
        <div class="col-lg-4 ml-lg-5">
            <div class="about_text_2">
                <p>
                    You don`t have any favorite clubs yet...
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-lg-5">
                    <div class="button button-large button_1 elements_button mt-4">
                        <a asp-area="" asp-controller="Club" asp-action="All">
                            <span>Find Clubs</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<partial name="_AllClubsPartial" model="@Model" />

<partial name="_PagingPartial" model="@Model" />